@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <canvas id="arkanoid" width=800 height=500></canvas>
            <link rel="stylesheet" type="text/css" href="style.css">
            <script src="~/js/jquery.js"></script>
            <script src="~/js/arkanoid.js"></script>
        }
        else
        {
            <h1 class="display-4">Добро пожаловать в игру Arkanoid</h1>
            <h2 class="display-5">Для того, чтобы начать играть, пожалуйста, авторизуйтесь.</h2>
        }
    </div>